#container{
  display: grid;
  grid-template-rows: 170px 170px 170px;
  grid-template-columns: 260px 260px;
}

div div:hover{
  background:skyblue;
}

.submitBtn input{
  width:100px;
  margin:0 10px;
  padding:10px;
  font-size:1em;
}
