
#container{
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 300px 300px;
}

.$condition{
  color: red;
}

.submitBtn{
  text-align: center;
  width: 100px;
  margin: 0 10px;
  padding: 10px;
  font-size: 1em;
  -webkit-appearance: none;
}
